ldoctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title File Upload
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")
        script.
            const url = `http://localhost:5600`

            const deleteHandler =  (id)=>{
                  if(window.confirm(`Are you sure to delete user?`)) {
                 fetch(`${url}/api/files/file/delete/${id}`,{
                    method:"DELETE",
                    headers:{"Content-Type":"application/json"}
                }).then(res=>res.json())
                .then(res=>{
                    window.location.reload()
                }).catch((error)=>alert(error))
                  }
            }

            const printData = async (files) => {
                 
            const file_container = document.getElementById("files")
               files.forEach((element, index)=>{
                 file_container.innerHTML +=`
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="card  text-white mt-3 rounded-4" style="background:linear-gradient(rgba(57, 55, 55, 0.848), rgba(69, 6, 217, 0.317))">
                               <div class="p-2 w-100">
                                <embed src=${element.filename} autoplay class="card-img-top rounded-4" style="max-height:180px; min-height:200px; object-fit:cover;">
                               </div>
                                <div class="card-body">
                                     <p><strong class="text-danger">Field name:</strong> ${element.filename}</p>
                                    <a data-bs-toggle="collapse" href="#collapseExample${element._id}" role="button" aria-expanded="false" aria-controls="collapseExample${element._id}">
                                    View More Details..
                                </a>
                                    <div class="collapse" id="collapseExample${element._id}">
                                    <ul class="list-group mt-3 ">
                                    <li class="list-group-item bg-dark text-white"><p><strong class="text-danger">Originalname:</strong> ${element.originalname}</p></li>
                                    <li class="list-group-item bg-dark text-white"> <p><strong class="text-danger">Mimetype:</strong> ${element.mimetype}</p></li>
                                    <li class="list-group-item bg-dark text-white"> <p><strong class="text-danger">Destination:</strong> ${element.destination}</p></li>
                                    <li class="list-group-item bg-dark text-white">   <p><strong class="text-danger">Filename:</strong> ${element.fieldname}</p></li>
                                    <li class="list-group-item bg-dark text-white"><p><strong class="text-danger">Path:</strong> ${element.path}</p></li>
                                    <li class="list-group-item bg-dark text-white"><p><strong class="text-danger">Size:</strong> ${element._id}</p></li>
                                    <li class="list-group-item  bg-dark text-white d-flex g-2 justify-content-between">
                                     <button type="button" onclick="deleteHandler('${element._id}')"} class="btn btn-danger text-white flex-1">DELETE</button>
                                    <a class="btn bg-secondary text-white flex-1"data-bs-toggle="collapse" href="#collapseExample${element._id}" role="button" aria-expanded="false" aria-controls="collapseExample${element._id}">Cancel</a>
                                    
                                   </li>
                                    </ul>
                                    
                                   
                                    </div>

     
                                </div>
                                
                            </div>
                    </div>
                `
                
           
               })
            }
            //to read the data
            fetch(`${url}/api/files/all`)
            .then(res=>res.json())
            .then(res=>{
                console.log(res)

                printData(res.allFiles)
            })
            .catch((err)=>{
                console.log(err)
            })
    body.bg-black 
        nav.navbar.navbar-expand-md.navbar-dark.bg-success.sticky-top 
            .container 
                a.navbar-brand(href="/") File Upload 
                button.navbar-toggler(data-bs-toggle="collapse", data-bs-target="#menu")
                    span.navbar-toggler-icon 
                .collapse.navbar-collapse#menu 
                    ul.navbar-nav  
                        li.nav-item 
                            a.nav-link(href="/") Home 
                        li.nav-item 
                            a.nav-link(href="/file/upload") File Upload 

        .container 
            .row 
                .col-md-12.text-center 
                    h3.display-3.text-success  Files 
        .container
            .row(id="files") 
            